{% extends "base.html" %}
{% block title %}Búsqueda de pacientes{% endblock %}

{% block content %}

{% if search_first %}
<div class="row">
  <!--<div class="col-md-12 col-sm-12 col-xs-12"  cambiado 24-05-2017> -->
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      <strong>No ha buscado ningún paciente recientemente.</strong> Busque un paciente primero.
    </div>
  </div>
</div>

{% endif %}

{% if error %}
<div class="row">
  <!--<div class="col-md-12 col-sm-12 col-xs-12"  cambiado 24-05-2017> -->
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      <strong>No hemos encontrado al paciente.</strong> Compruebe el NSS o el DNI que se ha introducido en el formulario o puede que la fecha no esté en el formato correcto: <strong>día-mes-año</strong>.
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
          <h2>Buscar <small> en el sistema </small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <form action="/buscar/" method="post">
            {% csrf_token %}
            
              <div class="col-md-2 col-sm-2 col-xs-12">
                <p>
                  <label>{{ form.label }}</label>
                  {{ form }}
                </p>
                <input type="submit" class="btn btn-success" value="Buscar">
              </div>  

          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
