{% extends "base.html" %}
{% block title %}Nueva visita{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
          <h2>Añadir visita</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-3 col-sm-3 col-xs-12"> 
  					<form action='/crearvisita/{{request.session.nss}}/' method="POST" id="form">
              {% csrf_token %}
              {% for field in formVisita %}
                <p>
                  {% if field.name != 'paciente' %}
                    <label for="{{ field.name }}">{{ field.label }}:</label>
                  {% endif %}
                  {{ field }}
                </p>
              {% endfor %}
              {% for field in formComentario %}
                
                  <p>
                    {% if field.name != 'autor' %}
                      <label for="{{field.name}}">{{field.label}}</label>
                    {% endif %}
                    {{ field }}
                  </p>
                
              {% endfor %}
              <div class="ln_solid"></div>
              <a class="btn btn-danger" href="/gestor/">Cancelar</a>
              <input type="submit" class="btn btn-success" value="Añadir">
  					</form>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $( document ).ready(function() {
      $("#fecha").datepicker({
        dateFormat: "yy-mm-dd",
        firstDay: 1,
        minDate: 0,
        dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
        dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
        monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
      });
    });

    function cambiarDuracion(){
      
      var date = $("#fecha").datepicker('getDate');
      var today = new Date();
        var dayDiff = Math.ceil((date - today) / (1000 * 60 * 60 * 24));
        $("#duracion").val(dayDiff);
    }
</script>
{% endblock %}
<!--
  <label for="example-date-input" class="col-2 col-form-label">Date</label>
  <div class="col-10">
    <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
  </div>
-->