{% extends "base.html" %}
{% block title %}Ficha del paciente{% endblock %}
{% block content %}

{% if pacientes %}
  {% for paciente in pacientes %}
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Información del paciente</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                NSS:
                <input type="text" readonly="readonly" placeholder="{{paciente.nss}}" class="form-control">
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                NIF:
                <input type="text" readonly="readonly" placeholder="{{paciente.dni}}" class="form-control">
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                Nombre:
                <input type="text" readonly="readonly" placeholder="{{paciente.nombre}}" class="form-control">
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                Apellidos:
                <input type="text" readonly="readonly" placeholder="{{paciente.apellido_1}} {{paciente.apellido_2}}" class="form-control">
              </div>
            </div>
            <div align="center">
              <form action="{% url 'gestor' %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-info" href="/buscar" >Atrás</a>
                <input type="submit" class="btn btn-success" value="Aceptar" style="width: 100px">
                <input type="hidden" value="{{paciente.nss}}" name="nss">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
{% else %}
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
          <h2>Información del paciente</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
              NSS:
              <input type="text" readonly="readonly" placeholder="{{nss}}" class="form-control">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
              NIF:
              <input type="text" readonly="readonly" placeholder="{{dni}}" class="form-control">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
              Nombre:
              <input type="text" readonly="readonly" placeholder="{{nombre}}" class="form-control">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
              Apellidos:
              <input type="text" readonly="readonly" placeholder="{{apellido1}} {{apellido2}}" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12 form-group">
              Dirección:
              <input type="text" readonly="readonly" placeholder="{{direccion}}, {{ciudad}}, {{provincia}}, {{pais}} - {{cp}}" class="form-control">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
              Teléfono de contacto:
              <input type="text" readonly="readonly" placeholder="{{telefono}}" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <!-- Botones -->
      <div class="x_panel">
          <div align="center" class="x_content">              
              {% if add_to_control %}
                <a class="btn btn-info" href="/buscar" >Atrás</a>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#add_control">Añadir paciente a control</button>
                
                <!-- Modal -->
                <div class="modal fade" id="add_control" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content col-xs-12">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Este paciente aún no está registrado en la aplicación de control de INR</h2>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-12 col-sm-3 col-xs-12 form-group">
                            <h4> ¿Realmente quiere dar de alta a <strong>{{nombre}} {{apellido1}} {{apellido2}}</strong>?</h4>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <form action="/alta/" method="POST">
                              {% csrf_token %}
                              <input type="hidden" value="{{nss}}" name = "nss">
                              <button type="submit" class="btn btn-success">Acpetar</button>
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
              {% else %}
              <form action="{% url 'gestor' %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-info" href="/buscar" >Atrás</a>
                <input type="submit" class="btn btn-success" value="Aceptar" style="width: 100px">
                <input type="hidden" value="{{nss}}" name="nss">
              </form>
              {% endif %}
          </div>
        </div>
  </div>
</div>
{% endif %}
{% endblock %}
