{% extends "base.html" %}
{% block title %}Gestor de pacientes{% endblock %}

{% block content %}

{% if not request.session.last_patient %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <strong>Ningún paciente seleccionado.</strong> Seleccione un paciente desde el menú de búsqueda. <a style="color:yellow" href="/buscar/"> Buscar</a>
    </div>
  </div>
</div>
{% endif %}
{% if visit_success%}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <strong>Visita añadida con éxito</strong>
    </div>
  </div>
</div>
{% endif %}

{% csrf_token %}
<div class="row">
  <!-- DIAGNÓSTICO -->
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Diagnósticos <small>Mostrando todos los diagnósticos del paciente</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Código</th>
              <th>Diagnóstico</th>
              <th>Comentario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>CPE</th>
              <td>Embolismo graso</td>
              <td></td>
            </tr>
            <tr>
              <th>XNS</th>
              <td>Válvula cardiaca izquierda</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- DIAGNÓSTICO -->

  <!-- CAMBIAR RANGO -->
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Rango <small>Último rango registrado</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table">
          <thead>
            <tr>
              <th style="border:0">Rango Actual:</th>
              <th style="border:0" colspan="2">Nuevo Rango:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="border:0">{{request.session.rango}}</td>
              <form action="/rango/" method="POST">
                {% csrf_token %}
                <td style="border:0; width:200px"><input type="text" class="form-control" name="new_range"></td>
                <td style="border:0"><input type="submit" class="btn btn-info" value="Cambiar"></td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- CAMBIAR RANGO -->
</div>
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12"></div>

  <!-- VISITAS -->
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Últimas visitas <small>Mostrando últimas 5 visitas</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Valor INR</th>
              <th>Dosis (mg/sem)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for visita in visitas %}
            <tr>
              <td>{{ visita.fecha }}</td>
              <td>{{ visita.valorINR }}</td>
              <td>{{ visita.dosis }}</td>
              <td><i class="fa fa-file-pdf-o"></i>&nbsp;<a href="/modvisitas/{{visita.id}}" class="fa fa-search"></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="ln_solid"></div>
        <a class="btn btn-success" href="/crearvisita/{{request.session.nss}}" >Nueva</a>
      </div>
    </div>
  </div>
  <!-- VISITAS -->
</div>

{% endblock %}
