{% extends "base.html" %}
{% block title %}Gestor de pacientes{% endblock %}
<script>
  function press(){
    alert("hola");
  }  
</script>
{% block last_patient %}
<div class="navbar-text">
  <table style="margin-bottom: -20px; margin-top:-5px" class="table table-responsive">
    <tbody>
      <tr>
        <th>Paciente:</th>
        <td>Nombre:</td>
        <td>{{nombre}} {{apellido1}} {{apellido2}}</td>
        <td></td>
        <td>NIF:</td>
        <td>{{dni}}</td>
        <td></td>
        <td>NSS:</td>
        <td>{{nss}}</td>
      </tr>
      <tr>
        <td colspan="9"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="navbar-text">
  <table style="margin-bottom: -20px">
    <tbody>
      <tr>
        <td>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#more_info">+ información</button>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="more_info" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Información de: {{nombre}} {{apellido1}} {{apellido2}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
              NSS:
              <input type="text" readonly="readonly" placeholder="{{nss}}" class="form-control">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
              NIF:
              <input type="text" readonly="readonly" placeholder="{{dni}}" class="form-control">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
              Nombre:
              <input type="text" readonly="readonly" placeholder="{{nombre}}" class="form-control">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
              Apellidos:
              <input type="text" readonly="readonly" placeholder="{{apellido1}} {{apellido2}}" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12 form-group">
              Dirección:
              <input type="text" readonly="readonly" placeholder="{{direccion}}, {{ciudad}}, {{provincia}}, {{pais}} - {{cp}}" class="form-control">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
              Teléfono de contacto:
              <input type="text" readonly="readonly" placeholder="{{telefono}}" class="form-control">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}

{% block content %}

{% if not request.session.last_patient %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <strong>Ningún paciente seleccionado.</strong> Seleccione un paciente desde el menú de búsqueda. <a style="color:yellow" href="/buscar/"> Buscar</a>
    </div>
  </div>
</div>
{% endif %}
{% csrf_token %}
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
          <h2>Diagnósticos <small>Mostrando todos los diagnósticos del paciente</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Diagnóstico</th>
                  <th>Comentario</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>CPE</th>
                  <td>Embolismo graso</td>
                  <td></td>
                </tr>
                <tr>
                  <th>XNS</th>
                  <td>Válvula cardiaca izquierda</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Últimas visitas <small>Mostrando últimas 5 visitas</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Valor INR</th>
              <th>Dosis</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for visita in visitas %}
            <tr>
              <td>{{ visita.fecha }}</td>
              <td>{{ visita.valorINR }}</td>
              <td>{{ visita.dosis }}</td>
              <td><i class="fa fa-file-pdf-o"></i>&nbsp;<i class="fa fa-search"></i></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="ln_solid"></div>
        <a class="btn btn-success"href="/crearvisita/{{nss}}" >Nueva</a>

      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}
