{% extends "base.html" %}
{% block title %}Gestor de pacientes{% endblock %}

<!-- CAMBIAR RANGO -->
{% block range %}
  <div class="pull-right" style="">
    <table class="table"> 
      <tbody>
        <tr>
          <th style="border:0">Rango:</th>
          <form action="/rango/" method="POST">
            {% csrf_token %}
            <td style="border:0; width:80px"><input type="number" min="0" max="5" step="0.1" class="form-control" name="rango_inf" value="{{request.session.rango_inf}}" required></td>
            <td  style="border:0;"> _ </td>
            <td style="border:0; width:80px"><input type="number" min="0" max="5" step="0.1" class="form-control" name="rango_sup" value="{{request.session.rango_sup}}" required></td>
            <td style="border:0"><input type="submit" class="btn btn-info" value="Cambiar"></td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
<!-- CAMBIAR RANGO -->

{% block content %}

{% if not request.session.last_patient %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
      <strong>Ningún paciente seleccionado.</strong> Seleccione un paciente desde el menú de búsqueda. <a style="color:yellow" href="/buscar/"> Buscar</a>
    </div>
  </div>
</div>
{% endif %}

{% if visit_success %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><strong class="fa fa-times"></strong></span></button>
      <strong>{{visit_success}}</strong>
    </div>
  </div>
</div>
{% endif %}

{% csrf_token %}


<div class="row">
  <!-- Columna izquierda -->
  <div class="col-md-6 col-sm-12 col-xs-12">
    <!-- DIAGNÓSTICO -->
    <div class="x_panel">
      <div class="x_title">
        <!-- Trigger the modal with a button -->
        <h2>Diagnósticos</h2>&nbsp;&nbsp;<a class="btn btn-success" data-toggle="modal" data-target="#diagnostico_modal">Añadir</a>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="tabla_diagnosticos" class="table table-bordered">
          <thead>
            <tr>
              <th>Código</th>
              <th>Descripción</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for d in diagnosticos %}
            <tr>
              <th>{{d.codigo}}</th>
              <td>{{d.descripcion}}</td>
              <td align="center"><a href="/borrar_diagnostico/{{d.id}}" class="fa fa-times" title="Borrar diagnóstico"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


  <!-- Modal -->
  <div id="diagnostico_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Añadir Diagnóstico</h4>
        </div>
        <div class="modal-body">
          <select class="form-control" id="nuevo_diagnóstico">
            {% for d in all_diagnostics %}
              <option value="{{d.id}}">{{d.codigo}} - {{d.descripcion}}</option>
            {% endfor %}
          </select>
          <br>
          <div class="row">
            <div class="col-xs-12" align="center">
              <button type="submit" class="btn btn-success" onclick="newDiagnostic()" data-dismiss="modal">Añadir</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>

    </div>
  </div>

  <!-- DIAGNÓSTICO -->
  </div>
  <!-- Fin Columna izquierda -->

  <!-- Columna Derecha -->
  <div class="col-md-6 col-sm-12 col-xs-12">
    <!-- VISITAS -->
    <div class="x_panel">
      <div class="x_title">
        <h2>Últimas visitas</h2> &nbsp;&nbsp; <a class="btn btn-success" href="/crearvisita/{{request.session.nss}}">Nueva</a>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div style="width:100%; height:150px; overflow:auto">
          <table id="tabla_visitas" class="table table-bordered">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Valor INR</th>
                <th>Dosis (mg/sem)</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for visita in visitas %}
              <tr>
                <td onclick="showVisit({{visita.id}}, this)" style="cursor:pointer">{{ visita.fecha|date:"d-m-Y" }}</td>
                <td onclick="showVisit({{visita.id}}, this)" style="cursor:pointer">{{ visita.valorINR }}</td>
                <td onclick="showVisit({{visita.id}}, this)" style="cursor:pointer">{{ visita.dosis }}</td>
                <td align="center"><a href="/modvisitas/{{visita.id}}" class="fa fa-search" title="Modificar visita"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- VISITAS -->

    <!-- INFORMACIÓN DE LA VISITA -->
    <div id="info_visita" class="col-md-6 col-sm-6 col-xs-12" hidden>
      <!-- Se crea en JavaScript -->
    </div>
    <!-- INFORMACIÓN DE LA VISITA -->
  </div>
  <!-- Fin Columna Derecha -->
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
  
  function showVisit(id_visita, element){

    $.ajax({
        url: '/mostrarvisita/',
        data: {
        'id': id_visita
        },
        dataType: 'json',
        success: function (data) {

          var content ='<div class="x_panel" style="border:0px; padding:0px; margin:0px"><div class="x_content"><button type="button" class="close" onclick="cerrar_tabla()"><span aria-hidden="true" class="fa fa-times"></span></button><table class="table" style="margin:0px"><tr><th>Fecha: </th><td>'+data.fecha+'</td><th>Duración (días): </th><td>'+data.duracion+'</td></tr><tr><th>Valor de INR: </th><td>'+data.valorINR+'</td><th>Peso (kg): </th><td>'+data.peso+'</td></tr><tr><th>Dosis (mg/semana): </th><td>'+data.dosis+'</td><th>Medicación: </th><td>'+data.medicacion+'</td></tr></table></div></div>';
          
          $("#info_visita").html(content).addClass("x_panel").show();
          $("#tabla_visitas").children("tbody").find("tr").css("background-color", "white");
          $(element).closest("tr").css("background-color", "yellow");
        }
      });
    }

    function cerrar_tabla(){
       $("#info_visita").hide();
       $("#tabla_visitas").children("tbody").find("tr").css("background-color", "white");
    }

    function newDiagnostic(){
      var diagnostico = $("#nuevo_diagnóstico :selected").val();

      $.ajax({
        url: '/asociardiagnostico/',
        data: {
          'paciente_id': {{request.session.id}},
          'diagnostico_id': diagnostico
        },
        dataType: 'json',
        success: function(data){
          $("#tabla_diagnosticos > tbody").append("<tr><th>"+data.codigo+"</th><td>"+data.descripcion+"</td><td align='center'><a href='/borrar_diagnostico/"+data.id+"' class='fa fa-times' title='Borrar diagnóstico'></td></tr>");
        }
      });
    }
</script>
{% endblock %}
