{% extends "base.html" %}
{% block title %}Guías{% endblock %}

{% block content %}
<div class="col-md-6 col-sm-6 col-xs-12">
	{% for guia in guias %}
	<div class="panel panel-primary" onclick="showMoreInfo(this)" style="cursor:pointer">
		<div class="panel-heading">
			<span class="panel-title">{{guia.titulo}}</span>
		</div>
		<p class="panel-body" hidden>{{guia.texto}}</p>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function showMoreInfo(caller){
    var p = $(caller).children("p");
    if (p.is(':visible')){
      p.hide();
    }else{
      p.show();
    }
  }
</script>
{% endblock %}   