{% extends "base.html" %}
{% block title %}Visitas{% endblock %}

{% block content %}

{% if error_formulario %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <strong>{{error_formulario}}</strong>
    </div>
  </div>
</div>
{% endif %}
<div class="x_panel">
	<div class="x_title">
		<h2>Modificar Visita</h2>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<form action="/modvisitas/{{ id }}/" method="POST">
				 {% csrf_token %}
				  {% for field in formVisita %}
				    <p>
				      {% if field.name != 'paciente' %}
				        <label for="{{ field.name }}">{{ field.label }}:</label>
				      {% endif %}
				      {{ field }}
				    </p>
				  {% endfor %}
				  <p>
				  	<textarea id="comentarios" class="form-control" rows="4" disabled>{{ comentariosAntiguos }}</textarea>
				  </p>
				  {% for comentario in formComentario %}	
					<p>
						{% if comentario.label != 'Autor' %}
					    	<label for="{{comentario.name}}">Nuevo {{comentario.label}}</label>
				    	{% endif %}
					    {{ comentario }}
					</p>
				  {% endfor %}
				  <div></div>
				  <a class="btn btn-danger" href="/gestor/">Atrás</a>
				  <input type="submit" class="btn btn-success" value="Cambiar">
				  <a href="#" id="nuevo_comentario" class="btn btn-info" onclick="anadir_comentario()">Añadir comentario</a>
			 </form>
		</div>
	</div>
</div>
 
 {% endblock %}

 {% block javascript %}
<script type="text/javascript">
    $( document ).ready(function() {
      $("#fecha").datepicker({
        dateFormat: "yy-mm-dd",
        firstDay: 1,
        minDate: 0,
        dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
        dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
        monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
      });
    });
    function cambiarDuracion(){
    	
    	var date = $("#fecha").datepicker('getDate');
    	var today = new Date();
        var dayDiff = Math.ceil((date - today) / (1000 * 60 * 60 * 24));
        $("#duracion").val(dayDiff);
    }

    function cambiarFecha(){
    	var duracion = $("#duracion").val();
    	var ms = new Date().getTime() + (86400000 * duracion);
    	var new_date = new Date(ms);
    	$("#fecha").datepicker('setDate', new_date);
    }

    function anadir_comentario(){
    	var nuevo_comentario = $("#id_comentario-texto").val();
      if (nuevo_comentario != "" && nuevo_comentario != " "){
        $.ajax({
          url: '/anadir_comentario/',
          data: {
          'id': {{id}},
          'nuevo_comentario' : nuevo_comentario,
          'autor' : $("#id_comentario-autor").val()
          },
          dataType: 'json',
          success: function (data) {
            $("#comentarios").val(data.todos_comentarios);
            $("#id_comentario-texto").val("");
          }
        });
      }
    }
</script>
{% endblock %}