{% extends "base.html" %}
{% block title %}Visitas{% endblock %}

{% block content %}
<div class="x_panel">
	<div class="x_title">
		<h2>Modificar Visita</h2>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<form action="/modvisitas/{{ id }}/" method="POST">
				 {% csrf_token %}
				  {% for field in formVisita %}
				    <p>
				      {% if field.name != 'paciente' %}
				        <label for="{{ field.name }}">{{ field.label }}:</label>
				      {% endif %}
				      {{ field }}
				    </p>
				  {% endfor %}
				  <p>
				  	<textarea class="form-control" rows="4" disabled>{{ comentariosAntiguos }}</textarea>
				  </p>
				  {% for comentario in formComentario %}	
					  <p>
					  	{% if comentario.label != 'Autor' %}
					    	<label for="{{comentario.name}}">Nuevo {{comentario.label}}</label>
				    	{% endif %}
					    {{ comentario }}
					  </p>
				  {% endfor %}
				  <a class="btn btn-danger" href="/gestor/">Atrás</a>
				 <input type="submit" class="btn btn-success" value="Cambiar">
			 </form>
		</div>
	</div>
</div>
 
 {% endblock %}

 {% block javascript %}
<script type="text/javascript">
    $( document ).ready(function() {
      $("#date").datepicker({
        dateFormat: "yy-mm-dd",
        firstDay: 1,
        minDate: 0,
        dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
        dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
        monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
      });
    });
</script>
{% endblock %}